//mixin con parametros

@mixin grid {
    display: grid;
    border-radius: 15%;
}

@mixin contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@mixin contenedortlet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@mixin imagen ($width, $object-fit) {
    width: $width;
    object-fit: object-fit;
}

@mixin titulos {
    text-align: center;
    font-size: 35px;
    margin: 30px;
}

@mixin parametroImagen ($width, $height) {
    width: $width;
    height: $height;
}

@mixin parametroGeneral ($display, $flex-direction, $align-items, $justify-content) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}