//footer

footer {
    font-size: 15px;
    color: nth($color-secundario, 1);
    height: 10vh;

    a {
        text-decoration: none;
        color: nth($color-secundario, 1);
        margin-left: 20px;
    }

    .contenedorFooter {
        background-image: linear-gradient($gradiente, $color-principal);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-left: 20px;

        .footerTexto {
            padding-bottom: 20px;
            font-size: 13px !important;
        }

        .footerRedes {
            display: flex;
            padding: 15px;
            margin-right: 40px;

            .iconosRedes {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 25px;

                a {
                    display: flex;
                    flex-direction: row;
                }

                img {
                    @include parametroImagen (40px, 40px);
                    padding: 4px;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    footer {
        position: relative;
    }
}

@media (min-width: $breakpoint-desktop) {
    footer {
        .contenedorFooter {
            align-items: center;

            .footerRedes {
                .iconosRedes {
                    flex-direction: row;
                }
            }
        }
    }
}