//Header y nav

header {
    display: flex;
    background-image: linear-gradient($color-principal, $gradiente);
    padding-bottom: 10px;

    .navbar {
        margin: auto auto;
        padding-top: 30px;
        padding-right: 70px;
        font-size: 13px;

        .container-fluid {
            img {
                width: 150px;
                margin-right: 50px;
                margin-bottom: 10px;
            }

            .navbar-toggler {
                background-color: nth($color-secundario, 2) !important;
            }
        }

        .collapse {
            .navbar-nav {
                .nav-item {
                    a {
                        color: nth($color-secundario, 1) !important;
                    }

                    a:hover {
                        background-color: $color-principal;
                        color: white !important;
                    }

                    .nav-link {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    header {
        .navbar {
            .container-fluid {
                img {
                    width: 270px;
                }
            }
        }
    }
}