// Vista Mobile
/* Pagina Contacto */
.mainContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
        .tituloContacto {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 20px;
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    }

    form {
        position: relative;
        width: 75%;
        background-image: url("../multimedia/imagenForm.png");
        background-size:cover;
        margin: 20px 45px;
        padding: 20px;
        text-align: start;
        border: 3px outset nth($color-secundario, 2);
        padding: 15px;
        margin-bottom: 50px;
        filter: grayscale(80%);
        .titulo_form {
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            color: white;
        }
        .mb-3 {
            background: rgba(255, 255, 255, 0.7);
            padding: 20px;
            border-radius: 10px;
        }
        h3{
            color: white;
            display: inline;
            background: rgba(100, 100, 100, 0.616);
            border-radius: 5px;
        }
        div {
            padding-bottom: 5px;
            #text {
                width: 100%;
              }
        }
    }
}

// Vista Tablet
/* Pagina Contacto */
@media (min-width: $breakpoint-tablet) {
    .mainContacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section {
            .tituloContacto {
                @include titulos;
            }
        }

        form {
            width: 50%;

            .titulo_form {
                text-align: center;
                text-decoration: none;
                font-size: 25px;
            }
        }
    }
}

//Vista Ordenador
/* Pagina Contacto */
@media (min-width: $breakpoint-desktop) {
    .mainContacto {

        section {
            .tituloContacto {
                @include titulos;
            }
        }

        form {
            width: 35%;
            height: 600px;

            .titulo_form {
                text-align: center;
                text-decoration: none;
                font-size: 25px;
            }

            div{
                margin-top: 10px;
            }
        }
    }
}