// Vista Mobile
    /* Pagina Contacto */
    main{
        section{
            .tituloContacto{
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px; 
                font-size: 30px;
                text-align: center;
            }
        }
        form{
            margin: 10px 50px;
            text-align: start;
            border: 3px outset nth($color-secundario, 2);
            padding: 15px;
            margin-bottom: 50px;
            .titulo_form{
                text-align: center;
                text-decoration: none;
                font-size: 25px;
            }
            div{
                padding-bottom: 5px;
            }
        }
    }

// Vista Tablet
    /* Pagina Contacto */
    @media (min-width: $breakpoint-tablet){
    .mainContacto{
                    display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   height: 100vh; 
                   section{
                       .tituloContacto{
                           @include titulos;
                       }
                   }
                   form{
                       width: 35%;
                       max-width: 500px;
                       .titulo_form{
                           text-align: center;
                           text-decoration: none;
                           font-size: 25px;
                       }
                   }
    }
    }

//Vista Ordenador
    /* Pagina Contacto */
    @media (min-width: $breakpoint-desktop){
        .mainContacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            section{
                .tituloContacto{
                    @include titulos;
                }
            }
            form{
                width: 35%;
                max-width: 500px;
                .titulo_form{
                    text-align: center;
                    text-decoration: none;
                    font-size: 25px;
                }
            }
        }
    }