//Vista mobile
/* Pagina Portafolio */
main {
    #tituloPortafolio {
        @include titulos;
    }

    /* vista desktop */
    .portafolio {
        display: none;
    }

    /* vista mobile */
    #carouselExample {
        margin: 20px;
        padding: 5px;

        img {
            border-radius: 5%;
            height: 55vh;
            width: auto;
        }
    }
}

//Vista tablet
/* Pagina Portafolio */
@media (min-width: $breakpoint-tablet) {
    main {
        .portafolio {
            @include parametroGeneral (flex, column, center, none);
            margin: 20px;
            padding: 30px;

            .imagenPortafolio {
                @include parametroImagen (400px, 400px);
                margin-top: 20px;

                img {
                    width: 100%;
                    object-fit: cover;
                    margin: 10px;
                    padding: 5px;
                    border-radius: 10%;
                    aspect-ratio: 1 / 1;
                    transition: all 1s;

                    &:active {
                        box-shadow: 10px 13px 10px black;
                        top: 10%;
                        left: 10%;
                        transform: scale(1.2) translate(-10%, -10%);
                        position: relative;
                        aspect-ratio: unset;
                        z-index: 1;
                    }
                }

                p {
                    display: none;
                }
            }
        }

        #carouselExample {
            display: none;
        }
    }
}

//Vista Ordenador
/* Pagina Portafolio */
@media (min-width: $breakpoint-desktop) {
    main {
        position: relative;

        .portafolio {
            @include parametroGeneral (flex, row, center, space-evenly);
            flex-wrap: wrap;
            margin: 20px;
            padding: 30px;
        }

        #carouselExample {
            display: none;
        }
    }
}