// Vista Mobile
/* Pagina Sobre Nosotros */
main {
    .contenedorSobreNosotros {
        .textoSobreNosotros {
            .tituloSobre {
                @include titulos;
            }

            p {
                margin: 10px 30px;
                text-align: justify;
                font-size: 17px;
            }
        }

        .textoSobreNosotros2 {
            .imagenSobreNosotros {
                display: flex;
                justify-content: center;

                .redes {
                    @include parametroImagen (100px, 105px);
                    margin-top: 3px;
                    margin-right: 10px;
                    transition: all 0.5s;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .redes2 {
                    @include parametroImagen (90px, auto);
                    margin: 10px;
                    transition: all 0.5s;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .redes3 {
                    @include parametroImagen (90px, auto);
                    margin: 10px;
                    transition: all 0.5s;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            div {
                .enlaceContacto {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    font-size: 15px;
                    margin: 40px;
                    color: $color-principal;
                }
            }
        }
    }
}

//Vista ordenador
/* Pagina Sobre Nosotros */
@media (min-width: $breakpoint-desktop) {
    main {
        .contenedorSobreNosotros {
            display: flex;
            margin: 50px 20px 100px 20;

            .textoSobreNosotros {
                width: 50%;
                margin-left: 60px;
                margin-bottom: 50px
            }

            .textoSobreNosotros2 {
                @include parametroGeneral (flex, column, center, center);
                width: 50%;

                .imagenSobreNosotros {

                    .redes {
                        @include parametroImagen (110px, 112px);
                    }

                    .redes2 {
                        width: 100px;
                    }

                    .redes3 {
                        width: 100px;
                    }
                }

                div {
                    .enlaceContacto {
                        padding: 15px;
                        transition: all 0.5s;
                        margin: 10px;

                        &:hover {
                            background-color: $color-principal;
                            color: white;
                            border-radius: 0% 20%;
                        }

                        &:active {
                            font-size: 10px;
                        }
                    }
                }

            }
        }
    }
}